body {
    background-color: white;
}


/* ----------------------main navbar--------------- */

.nav-content {
    height: 42px;
    display: flex;
    align-items: center;
}

.nav-content span {
    padding: 0 12px;
    color: white;
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-content a {
    padding: 0 12px;
    color: white;
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-content span:hover {
    background-color: #4a525a;
}

.nav-infor {
    width: fit-content;
}

.nav-infor h6 {
    padding-left: 12px;
}

.nav-infor img {
    height: 26px;
    width: 26px;
    border-radius: 13px;
}


/* -----------------navbar---------------- */

.addnew {
    background: rgb(52, 58, 64);
    height: 40px;
    display: block;
    margin-left: 10px;
}

.addnew a {
    text-decoration: none;
    color: white;
}

.addnew:hover {
    background: rgb(97, 106, 116);
}


/* ------------------sidebar-------------- */

.sidebar {
    background-color: white;
    height: 100vh;
    position: sticky;
    top: 0;
    border-right: 2px solid #ccc;
}

.sidebar-header {
    padding: 12px 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.sidebar-header-image img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 12px;
}

.sidebar-header-infor {}

.sidebar-header-infor>h6 {
    display: block;
}

.sidebar-header-infor>a {
    font-size: 12px;
}

.sidebar-header-infor>a>i {
    font-size: 12px;
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar-item {
    background-clip: border-box;
    display: block;
    height: 60px;
    width: 100%;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 2px solid #ccc;
    line-height: 60px;
}

.sidebar-item a {
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: block;
    padding-left: 20px;
}

.sidebar-item>a>span {
    margin-right: 12px;
}

.sidebar-item :hover {
    color: white;
    background: rgb(52, 58, 64);
    background-clip: border-box;
}

.content {
    background-color: #666;
}


/* -------------------end-sidebar------------------ */


/* --------------------filter----------------------- */

.filter-field {
    padding: 20px 40px;
}

.filter {
    display: flex;
    justify-content: space-around;
}

.name-filter {
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    padding-right: 20px;
    margin: 0;
}

.txt_field {
    display: flex;
    position: relative;
    align-items: center;
}

.txt_field input {
    height: 40px;
    background: none;
    margin: 0 12px 0 0;
    outline: none;
    font-size: 16px;
    border: 2px solid #666;
    border-radius: 2px;
}

.txt_field input[type="submit"] {
    width: 120px;
    background: rgb(52, 58, 64);
    color: white;
    border-radius: 2px;
    border: none;
}

.txt_field input[type="submit"]:hover {
    background: rgb(97, 106, 116);
}

.txt_field label {
    position: absolute;
    top: -20px;
    left: 40px;
    color: #666;
    font-size: 16px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: 0.5s;
}

.background-padding {
    height: 2px;
    background: #666;
}


/* --------------------end-filter------------------- */


/* -------------------radio------------------- */

.iradio_flat-green {
    background-position: -88px 0;
}


/* -------------log-out--------------- */

.log-out {
    width: 120px;
    height: 60px;
    color: white;
}